@model  Mvcproject.ModelView.StudiesViewModel

@{
    Layout = null;
}
@using Mvcproject.Models;

<div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <h1><b>Add new student to the system</b></h1>
    <div>
        @using (Html.BeginForm("Assign", "Admin", FormMethod.Post))
        {

            <i>Course Name: </i> @Html.TextBoxFor(m => m.course.course_name) @Html.ValidationMessageFor(x => x.course.course_name)
            <br />
            <i>Student id: </i> @Html.TextBoxFor(m => m.student.student_id) @Html.ValidationMessageFor(x => x.student.student_id)
            <br />
      
            <input id="Submit3" type="submit" value="Assign Student" />
            <br />
            @Html.ValidationSummary()
        }
        <br />
    </div>
</div>