@model  Mvcproject.ModelView.CurriculumViewModel
@using Mvcproject.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeExam</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>


        <div>

            @using (Html.BeginForm("AddCourse", "Admin", FormMethod.Post))
            {
                <span style="color:blue">Courses exams</span>
                <br />
                <table>
                    <tr>

                        <td>Course ID</td>
                        <td>Course name</td>
                        <td>Teacher ID</td>
                        <td>Moed A date</td>
                        <td>Moed A time</td>
                        <td>Moed B date</td>
                        <td>Moed B time</td>
                    </tr>
                    @foreach (Courses obj in Model.courses)
                    {
                        <tr>
                            <td>@obj.course_id</td>
                            <td>@obj.course_name</td>
                            <td>@obj.teacher_id</td>
                            <td>@obj.moed_A_date</td>
                            <td>@obj.moed_A_hour</td>
                            <td>@obj.moed_B_date</td>
                            <td>@obj.moed_B_hour</td>
                            <td>@Html.ActionLink("Edit", "edit_course", obj, new { @class = "classname" })</td>
                            <td>@Html.ActionLink("Delete", "delete_course", obj, new { @class = "classname" })</td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td> @Html.TextBoxFor(m => m.course.course_name, new { placeholder = "Course Name", @class = "form-input" }) </td>

                        <td> @Html.TextBoxFor(m => m.course.teacher_id, "{0:#.#}", new { style = "width:70px", placeholder = "ID", @class = "form-input" })</td>
                        <td> @Html.TextBoxFor(m => m.course.moed_A_date, new { style = "width:70px", placeholder = "date", @class = "form-input" })</td>
                        <td> @Html.TextBoxFor(m => m.course.moed_A_hour, new { style = "width:70px", placeholder = "time", @class = "form-input" })</td>
                        <td> @Html.TextBoxFor(m => m.course.moed_B_date, new { style = "width:70px", placeholder = "date", @class = "form-input" })</td>
                        <td> @Html.TextBoxFor(m => m.course.moed_B_hour, new { style = "width:70px", placeholder = "time", @class = "form-input" })</td>
                        <td><input id="Submit2" type="submit" value="Add Course" /></td>
                    </tr>

                </table>
                <br />
                <div style="color: red;"><h6><i>@TempData["Message"]</i></h6></div>
                <br />
                @Html.ValidationMessageFor(x => x.course.course_name)
                <br />
                @Html.ValidationMessageFor(x => x.course.teacher_id)
                <br />
                @Html.ValidationMessageFor(x => x.course.moed_A_date)
                <br />
                @Html.ValidationMessageFor(x => x.course.moed_A_hour)
                <br />
                @Html.ValidationMessageFor(x => x.course.moed_B_date)
                <br />
                @Html.ValidationMessageFor(x => x.course.moed_B_hour)

                @Html.ValidationSummary(true)
            }


            <br />
        </div>
    </div>
</body>
</html>
