@model Mvcproject.ModelView.CurriculumViewModel
@using Mvcproject.Models;
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>edit_curr</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div id="editForm">

        @using (Html.BeginForm("Update_cur", "Admin", FormMethod.Post))
        {

        <i> Course ID: @TempData["courseid"] </i>
            <br />
            <i> Day: </i> @Html.TextBoxFor(m => m.curriculum.day)
            <br />
            <i>Classroom: </i> @Html.TextBoxFor(m => m.curriculum.classroom)
            <br />
            <i>Hour: </i> @Html.TextBoxFor(m => m.curriculum.hour)
            <br />
            <i>Duration: </i> @Html.TextBoxFor(m => m.curriculum.duration, "{0:#.#}")
            <br />
            <input id="Submit3" type="submit" value="Update" />
            <br />
            @Html.ValidationSummary()
        }
        <br />
        <table>
            <tr>
                <td>Day</td>
                <td>Hour</td>
                <td>Classroom</td>
                <td>Duration</td>

            </tr>
            @if (Model.curriculums != null)
            {
                foreach (Curriculum obj in Model.curriculums)
                {
                    if (obj.course_id == Convert.ToInt32(TempData["courseid"].ToString()))
                    {
            <tr>
                <td>@obj.day</td>
                <td>@obj.hour</td>
                <td>@obj.classroom</td>
                <td>@obj.duration</td>
                <td>@Html.ActionLink("Delete", "delete_curr", obj, new { @class = "classname" })</td>

            </tr>
                    }
                }
            }
        </table>
        <br />
        <div style="color: red;"><h6>@TempData["Message"]</h6></div>
    </div>
</body>
</html>
