@model Mvcproject.Models.Grades
@using Mvcproject.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit_grade</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>


    <div>


        @using (Html.BeginForm("UpdateGradesAction", "Admin", FormMethod.Post))
        {
            <i> Course ID: @Model.course_id </i>
            <br />
            <i> Student ID: @Model.student_id </i>
            <br />
            <i> Student Name: @TempData["fname"]  @TempData["lname"]   </i>
            <br />       
            <i> MoedA grade: </i> @Html.TextBoxFor(m => m.moedA, new { placeholder = @Model.moedA, @class = "form-input" })
            <br />
            <i>MoedB grade: </i> @Html.TextBoxFor(m => m.moedB, new { placeholder = @Model.moedB, @class = "form-input" })
            <br />
            <input id="Submit3" type="submit" value="Update" />
            <br />
            @Html.ValidationSummary()
        }
        <br />


        @Html.ValidationSummary()
        
        <br />



    </div>
</body>
</html>
