
@{
    ViewBag.Title = "Teacher Control Panel";
}
    <link rel="stylesheet" type="text/css" href="../utils/tableDesign.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Moodle", "Index", "Teacher", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("My Courses", "MyCourses", "Teacher")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Teacher")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Hello, @Session["username"]</h2>



<br />
<br />

@Html.Partial("MySchedule")