@model  Moodle.Models.Users

@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" type="text/css" href="../utils/tableDesign.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Moodle", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
        </div>

    </div>
</div>

<div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <h1><b>Login: </b></h1>
    <div>
        @using (Html.BeginForm("validate_user", "Login", FormMethod.Post))
        {
            <i>User Name: </i> @Html.TextBoxFor(m => m.username, new { @class = "form-control" }); @Html.ValidationMessageFor(x => x.username);
            <br />
            <i>Password:</i> @Html.PasswordFor(m => m.password, new { @class = "form-control" }); @Html.ValidationMessageFor(x => x.password);
            <br />

            <input id="Submit1" type="submit" value="Login" />
            <br />
            @Html.ValidationSummary()
        }
        <br />
    </div>
</div>