@model  Moodle.Models.Users

@{
    ViewBag.Title = "Login";
}



<div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <h1><b>Login: </b></h1>
    <div>
        @using (Html.BeginForm("validate_user", "Login", FormMethod.Post))
        {
            <i>Username: </i> @Html.TextBoxFor(m => m.username); @Html.ValidationMessageFor(x => x.username);
            <br />
            <i>password:</i> @Html.PasswordFor(m => m.password); @Html.ValidationMessageFor(x => x.password);
            <br />

            <input id="Submit1" type="submit" value="Login" />
            <br />
            @Html.ValidationSummary()
        }
        <br />
    </div>
</div>