@using Moodle.Models
@using Moodle.Data_Access
@model Moodle.Models.Courses

@{
    ViewBag.Title = "Courses";
    CoursesData courses = new CoursesData();
    TeachersData teach = new TeachersData();
}
   <link rel="stylesheet" type="text/css" href="../utils/tableDesign.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Moodle", "Index", "FacultyManager", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Courses", "Courses", "FacultyManager")</li>
                <li>@Html.ActionLink("Add a user", "newUser", "FacultyManager")</li>
                <li>@Html.ActionLink("Logout", "Logout", "FacultyManager")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Courses: </h2>


<div>

    @using (Html.BeginForm("AddCourse", "FacultyManager", FormMethod.Post))
    {
        <br />
        <table class="blueTable">
            <tr>

                <td align="center"><b>Course ID</b></td>
                <td align="center"><b>Course name</b></td>
                <td align="center"><b>Teacher ID</b></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (Courses obj in courses.Courses)
            {
                <tr>
                    <td>@obj.course_id</td>
                    <td>@obj.course_name</td>
                    <td>@obj.teacher_id</td>
                    <td>@Html.ActionLink("Edit", "edit_course", obj, new { @class = "classname" })</td>
                    <td>@Html.ActionLink("Delete", "delete_course", obj, new { @class = "classname" })</td>
                </tr>
            }

            <tr>
                <td></td>
                <td> @Html.TextBoxFor(m => m.course_name, new { placeholder = "Course Name", @class = "form-input" }) </td>
                <td> @Html.TextBoxFor(m => m.teacher_id, "{0:#.#}", new { style = "width:70px", placeholder = "ID", @class = "form-input" })</td>
                <td align="center"><input id="Submit2" type="submit" value="Add Course" class="button-success" /></td>
                <td></td>
            </tr>

        </table>
        <br />
        @Html.ValidationMessageFor(x => x.course_name)
        <br />
        @Html.ValidationMessageFor(x => x.teacher_id)
        <br />


        @Html.ValidationSummary(true)
    }

    <br />
    <b>Faculty Teachers :</b>
    <table class="blueTable">
        <tr>
            <td align="center"><b>ID</b></td>
            <td align="center"><b>First name</b></td>
            <td align="center"><b>Last Name</b></td>
        </tr>
        @foreach (Teachers obj in teach.Teachers)
        {
            <tr>
                <td>@obj.teacher_id</td>
                <td>@obj.firstname</td>
                <td>@obj.lastname</td>

            </tr>
        }
    </table>


    <br />
</div>


