@model Moodle.Models.Courses
@using Moodle.Data_Access
@using Moodle.Models


@{
    ViewBag.Title = "'"+Model.course_name+"' Control Panel";
    TeachersData teach = new TeachersData();
    TempData["course_id"] = Model.course_id;
}
<link rel="stylesheet" type="text/css" href="../utils/tableDesign.css">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Moodle", "Index", "FacultyManager", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Courses", "ManageCourses", "FacultyManager")</li>
                <li>@Html.ActionLink("Grades", "About", "FacultyManager")</li>
            </ul>
        </div>
    </div>
</div>

<h1>'@Model.course_name' Control Panel</h1>

@using (Html.BeginForm("update_course", "FacultyManager", FormMethod.Post))
{
    <br />
    <table class="blueTable">
        <tr>
            <td align="center">
                <b>Course name:</b>
</td>
            <td align="center">
                <b>Teacher ID:</b>
</td>
            <td align="center">
                <b> Moed A:</b>
</td>
            <td align="center">
                <b> Moed B:</b>
</td>
        </tr>
        <tr>
            <td> @Html.TextBoxFor(m => m.course_name, new { placeholder = Model.course_id, @class = "form-input" }) </td>
            <td> @Html.TextBoxFor(m => m.teacher_id, "{0:#.#}", new { style = "width:70px", placeholder = Model.teacher_id, @class = "form-input" })</td>
            <td> @Html.EditorFor(m => m.moed_A, new { @value = Model.moed_A, @class = "datepicker" }) </td>
            <td> @Html.EditorFor(m => m.moed_B, new { @value = Model.moed_B, @class = "datepicker" }) </td>
            @Html.HiddenFor(m => m.course_id, new { @value = Model.course_id })
            <td align="center"><input id="Submit2" type="submit" value="Update" class="button-success"/></td>
        </tr>
    </table>


    <br />
    @Html.ValidationMessageFor(x => x.course_name)
    <br />
    @Html.ValidationMessageFor(x => x.teacher_id)
    <br />

    @Html.Partial("Course_Schedule",Model)


    @Html.ValidationSummary(true)

    <br />
    <b>Teachers :</b>
    <table class="blueTable">
        <tr>
            <td align="center"><b>ID</b></td>
            <td align="center"><b>First name</b></td>
            <td align="center"><b>Last Name</b></td>
        </tr>
        @foreach (Teachers obj in teach.Teachers)
        {
            <tr>
                <td>@obj.teacher_id</td>
                <td>@obj.firstname</td>
                <td>@obj.lastname</td>

            </tr>
        }
    </table>
}

<br />
@Html.Partial("add_study_day")