@model Moodle.Models.Grades

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Moodle", "Index", "FacultyManager", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Courses", "ManageCourses", "FacultyManager")</li>
                    <li>@Html.ActionLink("Add a user", "newUser", "FacultyManager")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "FacultyManager")</li>
                </ul>
            </div>
        </div>
    </div>
<br />
@using (Html.BeginForm("change_grade", "FacultyManager", FormMethod.Post))
{
    <b>Course ID: @Model.course_id</b>
    <br />
    <b>Student ID: @Model.student_id</b>
    <br />
    <b>Moed A Grade: </b> @Html.TextBoxFor(m => m.moedA, new { @class = "form-control",value=-1, placeholer = Model.moedA }); @Html.ValidationMessageFor(x => x.moedA);
    <br />
    <b>Moed B Grade: </b> @Html.TextBoxFor(m => m.moedB, new { @class = "form-control",value=-1 ,placeholer = Model.moedB }); @Html.ValidationMessageFor(x => x.moedB);
    <br />
    @Html.HiddenFor(m => m.course_id)
    @Html.HiddenFor(m => m.student_id)

    <input id="Submit1" type="submit" value="Update" />
    <br />

    @Html.ValidationSummary()
}


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>